
        h1 {
            color: orange;
            background-color: azure;
            border:  2px solid olive;
            width: 600px;
            height: 90px;
        }
        h2 {
            color: #94B56D;
            background: #876DB5;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            margin-top: 50px;
            margin-bottom: 30px;
            border-right: 40px solid salmon;
            border-bottom: 20px solid red;
        }
        p {
            background: orange;
            font-family: cursive;
            border-top: 5px solid crimson;
        }